[submodule "lib/libexpat"]
	path = lib/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "lib/tinycthread"]
	path = lib/tinycthread
	url = https://github.com/tinycthread/tinycthread.git
